$dark-blue: #13183F;
$blueish-gray: #666CA3;
$gray: #83869A;
$pink: #F74780;
$rosa: #FFA7C3;
$white: #FFFFFF;
$linear-orange: linear-gradient(to top, #F02AA6, #FF6F48);
$linear-blue: linear-gradient(to top, #4851FF, #F02AA6);
